<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!--gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>loadrunner</robotNamespace>
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
            <controlPeriod>0.001</controlPeriod>
            <legacyModeNS>false</legacyModeNS>
        </plugin>
    </gazebo-->

    <gazebo reference="l_wheel">
        <mu1>200</mu1>
        <mu2>200</mu2>
        <kp>10000000.0</kp>
        <kd>1.0</kd>
        <!-- <minDepth>0.001</minDepth> -->
    </gazebo>

    <gazebo reference="r_wheel">
        <mu1>200</mu1>
        <mu2>200</mu2>
        <kp>10000000.0</kp>
        <kd>1.0</kd>
        <!-- <minDepth>0.001</minDepth> -->
    </gazebo>

    <gazebo reference="front_l_caster_wheel1">
        <mu1>1</mu1>
        <mu2>1</mu2>
        <kp>10000000.0</kp>
        <kd>1.0</kd>
        <!-- <minDepth>0.001</minDepth> -->
    </gazebo>

    <gazebo reference="front_l_caster_wheel2">
        <mu1>1</mu1>
        <mu2>1</mu2>
        <kp>10000000.0</kp>
        <kd>1.0</kd>
        <!-- <minDepth>0.001</minDepth> -->
    </gazebo>

    <gazebo reference="rear_l_caster_wheel1">
        <mu1>1</mu1>
        <mu2>1</mu2>
        <kp>10000000.0</kp>
        <kd>1.0</kd>
        <!-- <minDepth>0.001</minDepth> -->
    </gazebo>

    <gazebo reference="rear_l_caster_wheel2">
        <mu1>1</mu1>
        <mu2>1</mu2>
        <kp>10000000.0</kp>
        <kd>1.0</kd>
        <!-- <minDepth>0.001</minDepth> -->
    </gazebo>

    <gazebo reference="front_r_caster_wheel1">
        <mu1>1</mu1>
        <mu2>1</mu2>
        <kp>10000000.0</kp>
        <kd>1.0</kd>
        <!-- <minDepth>0.001</minDepth> -->
    </gazebo>

    <gazebo reference="front_r_caster_wheel2">
        <mu1>1</mu1>
        <mu2>1</mu2>
        <kp>10000000.0</kp>
        <kd>1.0</kd>
        <!-- <minDepth>0.001</minDepth> -->
    </gazebo>

    <gazebo reference="rear_r_caster_wheel1">
        <mu1>1</mu1>
        <mu2>1</mu2>
        <kp>10000000.0</kp>
        <kd>1.0</kd>
        <!-- <minDepth>0.001</minDepth> -->
    </gazebo>

    <gazebo reference="rear_r_caster_wheel2">
        <mu1>1</mu1>
        <mu2>1</mu2>
        <kp>10000000.0</kp>
        <kd>1.0</kd>
        <!-- <minDepth>0.001</minDepth> -->
    </gazebo>

    <gazebo reference="base_footprint">
        <self_collide>0</self_collide>
    </gazebo>

    <!-- differential drive plugin -->
    <gazebo>
      <plugin name='diff_drive' filename='libgazebo_ros_diff_drive.so'>

        <!--ros>
          <namespace>/demo</namespace>
          <remapping>cmd_vel:=cmd_demo</remapping>
          <remapping>odom:=odom_demo</remapping>
        </ros-->

        <!-- wheels -->
        <left_joint>l_wheel_joint</left_joint>
        <right_joint>r_wheel_joint</right_joint>

        <!-- kinematics -->
        <wheel_separation>0.47</wheel_separation>
        <wheel_diameter>0.16128</wheel_diameter>

        <!-- limits -->
        <max_wheel_torque>20</max_wheel_torque>
        <max_wheel_acceleration>1.0</max_wheel_acceleration>

        <!-- output -->
        <publish_odom>true</publish_odom>
        <publish_odom_tf>true</publish_odom_tf>
        <publish_wheel_tf>false</publish_wheel_tf>

        <odometry_frame>odom</odometry_frame>
        <!-- <robot_base_frame>base_link</robot_base_frame> -->

      </plugin>
    </gazebo>

    <!-- encoder plugin -->
    <!-- <gazebo>
      <plugin name="encoder" filename="libgazebo_ros_joint_state_publisher.so">
        <ros>
          <namespace></namespace>
          <remapping>joint_states:=encoder</remapping>
        </ros>
        <update_rate>60</update_rate>
        <joint_name>l_wheel_joint</joint_name>
        <joint_name>r_wheel_joint</joint_name>
      </plugin>
    </gazebo> -->

    <!-- imu plugin -->
    <xacro:macro name="insert_imu_sensor" params="prefix">
      <gazebo reference="${prefix}_imu">
        <sensor name="${prefix}_imu" type="imu">
          <always_on>true</always_on>
          <update_rate>200</update_rate>
          <imu>
            <angular_velocity>
              <x>
                <noise type="gaussian">
                  <mean>0.0</mean>
                  <stddev>2e-4</stddev>
                </noise>
              </x>
              <y>
                <noise type="gaussian">
                  <mean>0.0</mean>
                  <stddev>2e-4</stddev>
                </noise>
              </y>
              <z>
                <noise type="gaussian">
                  <mean>0.0</mean>
                  <stddev>2e-4</stddev>
                </noise>
              </z>
            </angular_velocity>
            <linear_acceleration>
              <x>
                <noise type="gaussian">
                  <mean>0.0</mean>
                  <stddev>1.7e-2</stddev>
                </noise>
              </x>
              <y>
                <noise type="gaussian">
                  <mean>0.0</mean>
                  <stddev>1.7e-2</stddev>
                </noise>
              </y>
              <z>
                <noise type="gaussian">
                  <mean>0.0</mean>
                  <stddev>1.7e-2</stddev>
                </noise>
              </z>
            </linear_acceleration>
          </imu>
          <plugin name="${prefix}_imu" filename="libgazebo_ros_imu_sensor.so">
            <ros>
              <namespace></namespace>
              <remapping>~/out:=${prefix}_imu</remapping>
            </ros>
            <frame_name>${prefix}_imu_link</frame_name>
          </plugin>
        </sensor>
      </gazebo>
    </xacro:macro>

    <xacro:macro name="insert_lidar_sensor" params="prefix">
      <gazebo reference="${prefix}_lidar">
        <sensor name="${prefix}_lidar" type="ray">
          <always_on>true</always_on>
          <visualize>true</visualize>
          <update_rate>20.0</update_rate>
          <ray>
            <scan>
              <horizontal>
                <samples>813</samples>
                <resolution>1.0</resolution>
                <min_angle>${-45.0 * pi/180.0}</min_angle>
                <max_angle>${220.0 * pi/180.0}</max_angle>
              </horizontal>
              <!--vertical>
                <samples>100</samples>
                <resolution>1.0</resolution>
                <min_angle>-0.5236</min_angle>
                <max_angle>0.5236</max_angle>
              </vertical-->
            </scan>
            <range>
              <min>0.05</min>
              <max>25.0</max>
            </range>
          </ray>
          <plugin name="${prefix}_scan" filename="libgazebo_ros_ray_sensor.so">
            <ros>
              <namespace></namespace>
              <remapping>~/out:=scan</remapping>
            </ros>
            <output_type>sensor_msgs/LaserScan</output_type>
            <frame_name>${prefix}_lidar</frame_name>
          </plugin>
        </sensor>
      </gazebo>
    </xacro:macro>

    <xacro:insert_lidar_sensor prefix="front"/>
    <!-- <xacro:insert_lidar_sensor prefix="rear"/> -->

    <xacro:insert_imu_sensor prefix="center"/>
</robot>
