<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="inabot">
    <xacro:arg name="robot_model" default="inabot_default"/>
    <xacro:arg name="prefix" default=""/>

    <xacro:include filename="$(find inabot_description)/urdf/common/inertia_macro.urdf.xacro"/>
    <xacro:include filename="$(find inabot_description)/urdf/common/insert_transmission.urdf.xacro"/>
    <xacro:include filename="$(find inabot_description)/urdf/$(arg robot_model)/robot.urdf.xacro"/>

    <xacro:insert_robot prefix="$(arg prefix)"/>

</robot>
